gl/chat_ventas/chatWeb/ChatGLv2.json
{
  "name": "ChatGLv2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "f4324fe1-7c9f-498c-8e95-244a2d38a535",
      "name": "Chat Webhook",
      "webhookId": "chat-gl-webhook-session"
    },
    {
      "parameters": {
        "jsCode": "// EXTRAER Y PREPARAR SESIÓN DESDE WEBHOOK\nconst inputData = $input.first().json;\nconst { message, sessionId: inputSessionId, attachments } = inputData;\n\n// Generar sessionId si no viene del chat web\nconst sessionId = inputSessionId || 'session-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9);\n\nconsole.log('Webhook recibido:', { message, sessionId, attachments });\nconsole.log('SessionId generado/usado:', sessionId);\n\n// Preparar datos para el flujo LangChain con sessionId explícito\nconst messageData = {\n  text: message,\n  sessionId: sessionId,  // CRÍTICO: sessionId para memoria\n  userInput: message,\n  timestamp: new Date().toISOString(),\n  attachments: attachments || []\n};\n\n// Devolver solo el JSON con el sessionId correcto\nreturn {\n  json: messageData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "881723db-ce65-42f5-99f9-38d88473cc89",
      "name": "Extraer SessionId"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Webhook').item.json.body.message }}",
        "options": {
          "systemMessage": "=Rol: Recepcionista virtual de 'Grupo Lotificadora'\nTimezone: America/Tijuana (UTC-08:00).\nTareas:\nSIEMPRE al iniciar cada conversacion debes saludar y dar la bienvenida al usuario en tono amable y profesional al iniciar la conversarion preguntar como puedes ayudarlo.\n\nEvaluar el mensaje del usuario:\n  - Si esta relacionado con solicitar cualquier información sobre los terrenos en venta DEBES usar la herramienta 'AGENTE VENTAS'\n  - Si el usuario está interesado en agendar una cita, ver los terrenos o hablar con un vendedor DEBES usar la herramienta 'AGENTE CITAS'\n\nNo intentes responder tú mismo sobre inventarios; delega siempre esa tarea a la herramienta especializada\n\nDo not provide speculative or unverified information. Always rely on the knowledge base or direct the customer to official resources.",
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        0
      ],
      "id": "e9f8c7ca-3afe-4654-9482-59cb8286324a",
      "name": "Asistente General"
    },
    {
      "parameters": {
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        224
      ],
      "id": "7c2ec2b3-ec04-4f4f-a744-210f860a5354",
      "name": "MainMEM"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        704,
        224
      ],
      "id": "b2c260de-1bd9-44fd-b4e5-23bbdf209629",
      "name": "Think"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2080,
        0
      ],
      "id": "9975e01a-70c9-4836-95aa-3729e853e96c",
      "name": "Respuesta Webhook"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "7ebffe81-b3e6-422a-b153-8810dcc43e43",
      "name": "GPT120b",
      "credentials": {
        "groqApi": {
          "id": "9L9mrC93UVrDEUs4",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1232,
        432
      ],
      "id": "36028617-5b97-4f30-84e4-191ff818f1f7",
      "name": "Sales Memory1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1360,
        432
      ],
      "id": "1cc9bb15-259e-4b30-bb79-dbdbc87e439e",
      "name": "Think2"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "classroom116694392117002085048@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GL CITAS"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "outputFormat": "availability",
          "timezone": {
            "__rl": true,
            "value": "America/Tijuana",
            "mode": "list",
            "cachedResultName": "America/Tijuana"
          }
        }
      },
      "id": "92019f35-e0f6-4553-af30-a86c835f46ee",
      "name": "CHECK_AVAILABILITY",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1488,
        432
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "P8ZcyTmZX5zhNnIO",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "classroom116694392117002085048@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GL CITAS"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "id": "c06f8073-8f0c-4a33-addc-03917b29c15a",
      "name": "CREATE_EVENT",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1616,
        432
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "P8ZcyTmZX5zhNnIO",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_1QldnTQqlDAGDRrDJcAzbUpH_Br4pCkMRiTsy9Oo54",
          "mode": "list",
          "cachedResultName": "GL CITAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_1QldnTQqlDAGDRrDJcAzbUpH_Br4pCkMRiTsy9Oo54/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_1QldnTQqlDAGDRrDJcAzbUpH_Br4pCkMRiTsy9Oo54/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $fromAI('Nombre', ``, 'string') }}",
            "Telefono": "={{ $fromAI('Telefono', ``, 'string') }}",
            "Fecha/hora": "={{ $fromAI('Fecha_hora', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha/hora",
              "displayName": "Fecha/hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "id": "e6249cf4-afd1-4851-a8e9-7e8ec0925b99",
      "name": "ADD_DATA",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1744,
        432
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z2fzbLBpq57cnwiL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "daniel@grupolotificadora.com",
        "toEmail": "=daniel@hexcode.com.mx",
        "subject": "=NUEVA CITA DE VENTAS AGENDADA",
        "html": "={{ $fromAI('HTML', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSendTool",
      "typeVersion": 2.1,
      "position": [
        1872,
        432
      ],
      "id": "34c6076b-e549-45b0-9796-a6c7242e2fc4",
      "name": "SEND_MAIL",
      "webhookId": "da5e11bd-edb8-4c8c-a4ee-dbdefb520e24",
      "credentials": {
        "smtp": {
          "id": "UwkVaJNrf3WJxXA9",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        432
      ],
      "id": "53ac7349-ecfc-4b56-afca-7de090691ca9",
      "name": "Sales Memory2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        976,
        432
      ],
      "id": "ecee17cb-3b61-4430-9b7e-521b7b9e8a80",
      "name": "Think3"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1104,
        432
      ],
      "id": "f36d80ca-c314-42fd-8f43-9b35fcb6bf60",
      "name": "LLAMA SCOUT1",
      "credentials": {
        "groqApi": {
          "id": "9L9mrC93UVrDEUs4",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        720,
        432
      ],
      "id": "2919b8fd-553d-4088-9ca1-d9fabf063784",
      "name": "QWEN3-32b1",
      "credentials": {
        "groqApi": {
          "id": "9L9mrC93UVrDEUs4",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Utiliza esta herramienta para CUALQUIER consulta sobre venta de terrenos, precios, servicios, mensualidades, ubicaciones, o cuando el cliente de indicios de querer comprar.",
        "text": "={{ $('Chat Webhook').item.json.body.message }}",
        "options": {
          "systemMessage": "=Eres asistente de ventas en Grupo Lotificadora, especializado en terrenos residenciales en Mexicali y Los Algodones. Objetivo: resolver dudas, calificar prospectos de forma natural y guiar hacia cierre de venta.\n\nREGLAS GENERALES:\nResponde SIEMPRE con tono profesional pero cercano, en español y máximo en 100 palabras.\nRespuestas breves, directas, sin repeticiones ni texto innecesario.\nSiempre responde en forma de lista NUNCA en forma de Tabla.\nUsa nombre del usuario solo si lo proporciona.\nTrigger de Precio: Si preguntan por costos, menciona siempre la mensualidad más baja disponible en la zona de su interés para captar atención.\nIntegra progresivamente estas 3 preguntas de precalificación obligatorias:\n  1. ¿En qué zona te interesa? (Poniente, Oriente o Los Algodones)\n  2. ¿Cuál es tu presupuesto mensual aproximado en pesos?\n  3. ¿Buscas terreno con servicios listos para construir ya o para invertir a mediano plazo?\nSi menciona competidores: \"En Grupo Lotificadora garantizamos servicios, seguridad legal y jurídica total.\"\nUsa EXCLUSIVAMENTE la información del inventario. NO inventes datos, precios ni servicios.\n\nIMPORTANTE: Recuerda que todas las sucursales de Grupo Lotificadora se encuentran en la ciudad de Mexicali, Baja California. si el cliente solicita como llegar a cada fraccionamiento deberas recomendar hablar con un Asesor de Ventas para una atención más personalizada.\n\nINVENTARIO (úsalo tal cual):\nZona Poniente:\nLa Gloria: 200 m², desde $4,861/mes. Luz, agua, drenaje. Ub: carr. Progreso–Santa Isabel, 2 min entronque Tijuana, cerca Sukarne.\nEl Paraíso: 190 m², desde $4,618/mes. Luz, agua, drenaje. Ub: prol. Blvd. Lázaro Cárdenas, cerca estación bomberos y subcomandancia.\nJoyas del Paraíso 1 y 2: 190 m², desde $4,618/mes. Luz, agua, drenaje. Ub: espaldas parque acuático El Barco, 5 min Gómez Morin y nueva Garita Centro.\nJoyas del Paraíso 3: 190 m², desde $3,563/mes. Luz/Agua en curso, drenaje (2028) Ub: misma zona Joyas 1-2.\nAires del Paraíso 1 y 2: desde 190 m², desde $3,958/mes. Luz disponible; agua en curso; drenaje desde 2028. Ub: curva carr. Santa Isabel, cerca centros comerciales y Garita Centro.\nAires del Paraíso 3: 190 m², desde $3,563/mes. Luz/Agua en curso, drenaje (2028) Ub: misma zona Aires 1-2.\n\nZona Oriente:\nOasis: 240 m², desde $6,666.67/mes. Luz, agua, drenaje, listos para escriturar. Ub:En Islas Agrarias A, cerca del Hospital Materno Infantil, Plaza Sendero, COBACH Vasconcelos y más.\nManantiales: 450 m², desde $9,375.00/mes. Luz, agua, drenaje, listos para escriturar. Ub:A 5 minutos del Aeropuerto Internacional de Mexicali, Manantiales está en Islas Agrarias Grupo B.\nSesvania:300 m², desde $7,291.67.00/mes. Luz, agua, drenaje, listos para escriturar. Ub:Junto al poblado Ejido Cuernavaca a 3 minutos de carretera a San Luis.\n\nLos Algodones:\nAlgodones: 180 m², desde $3,125.00/mes.\nValle Fundadores: 180 m², desde $3,125.00/mes.Luz/Agua en curso, drenaje (2028)\n\nFINANCIAMIENTO:\nGL 120: 120 mensualidades.\nGL 144: 144 mensualidades.\nGL Express: 36 mensualidades.\nContado: 1 único pago.\nNo se acepta crédito INFONAVIT.\nNo se requiere pago de enganche solo el pago de la primer mensualidad.\n\nREQUISITOS DE CONTRATACIÓN:\nIne, comprobante de domicilio (no mayor a 3 meses), pago de la primera mensualidad.\n\nOPCIONES DE PAGO: Efectivo, domiciliación, App, Pago en línea.\n\nRecomienda según zona de interés, destacando beneficios relevantes del inventario.",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        832,
        224
      ],
      "id": "b0b9ee4c-3432-40a0-b87c-9ca1852cb814",
      "name": "AGENTE VENTAS"
    },
    {
      "parameters": {
        "toolDescription": "Utiliza esta herramienta UNICAMENTE si el usuario quiere agendar una cita o confirmar una cita",
        "text": "={{ $('Chat Webhook').item.json.body.message }}",
        "options": {
          "systemMessage": "=Rol: Asistente Virtual - Grupo Lotificadora\nObjetivo: Agendar citas de 1 hora de forma precisa y profesional.\nTimezone: America/Tijuana (UTC-08:00). Hoy: {{ $now }}.\n\nREGLAS CRÍTICAS (No ignorar):\nIdioma: Solo español.\nTono: Profesional, amable y conciso.\nHorario: Lunes a sábado, 08:00 - 18:00 (America/Tijuana, UTC-8).\nCerrado: Domingos.\nRESTRICCIÓN: UNICAMENTE registra la cita hasta que el usuario acepte explícitamente el horario propuesto.\n\nProceso de agendado:\n\n1. Recolección de datos (obligatoria): Solicitar cortésmente Nombre completo, Teléfono y Fecha/Hora preferida.\n2. Verificación de disponibilidad (usar herramienta CHECK_AVAILABILITY):\n - Si está fuera de horario: Informar amablemente el horario válido y pedir otro horario.\n - Si hay conflicto: Disculparse y sugerir el horario más cercano disponible el mismo día (dentro de 08:00-18:00).\n - Si está disponible: Proponer el horario y pedir confirmación explícita del usuario.\n\n3. Reserva: Solo tras confirmación explícita del usuario, usar CREATE_EVENT para crear el evento y ADD_DATA para registrar la información.\nIMPORTANTE: \nSiempre que el usuario mencione una hora, conviértela a formato ISO 8601 asegurándote de incluir el offset -08:00 (America/Tijuana, UTC-8).\nMapeo de Parámetros (CRÍTICO): Al usar CREATE_EVENT, debes extraer y usar estos datos del historial:\nNombre: Extraer nombre completo del usuario.\nTeléfono: Extraer número telefónico.\nTítulo del Evento: Debe ser estrictamente: [Nombre] - [Teléfono]. No omitas ninguno.\n4. Enviar correo: Inmediatamente después de la reserva exitosa, captura toda la conversación completa del chat (incluyendo todos los mensajes del usuario y tus respuestas desde el inicio) y envíala por correo usando SEND_MAIL.\nContenido del correo:\nDatos de la cita: Nombre, Teléfono, Fecha/Hora (en formato legible: dd/mm/yyyy HH:MM America/Tijuana).\nConversación completa: Copia el historial entero del chat como texto plano o en un formato legible (ej: \"Usuario: [mensaje]\\nAsistente: [respuesta]\\n...\").\nNo omitas este paso; ejecútalo siempre después de CREATE_EVENT y ADD_DATA.\n\nHerramientas:\n\nCHECK_AVAILABILITY: Verificar disponibilidad en Google Calendar (citas de 1 hora).\nCREATE_EVENT: Crear evento en Google Calendar el Título del evento tiene que ser el Nombre y Telefono del usuario, en la descripcion agregar el concepto \"VISITA TERRENOS\" y agregar el Nombre y Telefono del usuario.\nADD_DATA: Registrar datos en Google Sheets. En la columna de fecha y hora registra la hora de la cita en formato dd/mm/yyyy HH:MM.\nSEND_MAIL: enviar por correo los datos de la cita y la conversacion completa\nActualizar siempre Google Calendar y Google Sheets después de confirmar cada cita.\nEjemplo: Si el usuario pide 10:00 AM, verificar disponibilidad en ese bloque de 1 hora dentro del horario permitido antes de proponer.",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1408,
        224
      ],
      "id": "23b91c72-5779-4b36-b729-187ab8b14f2f",
      "name": "AGENTE CITAS"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Extraer SessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer SessionId": {
      "main": [
        [
          {
            "node": "Asistente General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Asistente General",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MainMEM": {
      "ai_memory": [
        [
          {
            "node": "Asistente General",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT120b": {
      "ai_languageModel": [
        [
          {
            "node": "Asistente General",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Asistente General": {
      "main": [
        [
          {
            "node": "Respuesta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Memory1": {
      "ai_memory": [
        [
          {
            "node": "AGENTE CITAS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "AGENTE CITAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CHECK_AVAILABILITY": {
      "ai_tool": [
        [
          {
            "node": "AGENTE CITAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CREATE_EVENT": {
      "ai_tool": [
        [
          {
            "node": "AGENTE CITAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ADD_DATA": {
      "ai_tool": [
        [
          {
            "node": "AGENTE CITAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SEND_MAIL": {
      "ai_tool": [
        [
          {
            "node": "AGENTE CITAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sales Memory2": {
      "ai_memory": [
        [
          {
            "node": "AGENTE VENTAS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think3": {
      "ai_tool": [
        [
          {
            "node": "AGENTE VENTAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLAMA SCOUT1": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE CITAS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "QWEN3-32b1": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE VENTAS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AGENTE VENTAS": {
      "ai_tool": [
        [
          {
            "node": "Asistente General",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AGENTE CITAS": {
      "ai_tool": [
        [
          {
            "node": "Asistente General",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f6c533e7-5111-48c6-a64a-a76388318368",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79c796f714ed85763c907c0ff5d662bf42056a49768b5ef9d3b919686c192ced"
  },
  "id": "NkdaJIn478Ye_m_sW4Doh",
  "tags": [
    {
      "updatedAt": "2026-02-05T01:50:43.136Z",
      "createdAt": "2026-02-05T01:50:43.136Z",
      "id": "40JhIVz9jYoNP27J",
      "name": "Chat GL"
    },
    {
      "updatedAt": "2026-02-05T01:50:43.147Z",
      "createdAt": "2026-02-05T01:50:43.147Z",
      "id": "Ti4zfy41N4rJOxU5",
      "name": "Chat"
    },
    {
      "updatedAt": "2026-02-05T01:50:43.144Z",
      "createdAt": "2026-02-05T01:50:43.144Z",
      "id": "TjLl9okZ4ZDaUdhL",
      "name": "Grupo Lotificadora"
    },
    {
      "updatedAt": "2026-02-05T01:50:43.141Z",
      "createdAt": "2026-02-05T01:50:43.141Z",
      "id": "V7lmf72IhEgE2Qtv",
      "name": "Session Fix"
    }
  ]
}